DEBUG=True
TESTING=False

API_PREFIX=/api/v1
API_HOST=0.0.0.0  # для разработки и запуска под docker-compose
# API_HOST=127.0.0.1  # для локальной разработки
API_PORT=8000

NOTION__TOKEN=
NOTION__WRITE_TOKEN=

POSTGRES__HOST=127.0.0.1  # при запуске docker-compose не используется
#POSTGRES__HOST=127.8.0.1
POSTGRES__PORT=5432
POSTGRES__USER=agreemod
POSTGRES__PASSWORD=pswd
POSTGRES__NAME=agreemod
POSTGRES__MIN_POOL_SIZE=5
POSTGRES__MAX_POOL_SIZE=10

DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_PASSWORD=admin
REFRESH_PERIOD=120


RABBITMQ__DEFAULT_HOST=localhost
RABBITMQ__DEFAULT_USER=guest
RABBITMQ__DEFAULT_PASS=guest
RABBITMQ__WEB_PORT=15672
RABBITMQ__QUEUE_PORT=5672
RABBITMQ__TELEGRAM_QUEUE=telegram

TELEBOT_TOKEN=