DEBUG=True
TESTING=False
VOLUME_MOUNT_PREFIX=/fakepath # Ловкий способ не маунтить в проде каталоги с кодом в контейнер

API_PREFIX=/api/v1
API_HOST=0.0.0.0
API_PORT=$API_PORT
API_PROXY=$API_PROXY

API_AUTH_USER=$API_AUTH_USER
API_AUTH_PASSWORD=$API_AUTH_PASSWORD

NOTION__TOKEN=$NOTION__TOKEN
NOTION__WRITE_TOKEN=$NOTION__WRITE_TOKEN
CODA__API_KEY=$CODA__API_KEY
CODA__DOC_ID=$CODA__DOC_ID

POSTGRES__HOST=postgres
POSTGRES__PORT=5432
POSTGRES__USER=agreemod
POSTGRES__PASSWORD=$POSTGRES__PASSWORD
POSTGRES__NAME=agreemod
POSTGRES__PROXY=127.0.0.1:$POSTGRES__PROXY
POSTGRES__MIN_POOL_SIZE=5
POSTGRES__MAX_POOL_SIZE=10

DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_PASSWORD=admin
REFRESH_PERIOD=120


RABBITMQ__DEFAULT_HOST=rabbitmq
RABBITMQ__DEFAULT_USER=guest
RABBITMQ__DEFAULT_PASS=guest
RABBITMQ__WEB_PORT=$RABBITMQ__WEB_PORT
RABBITMQ__QUEUE_PORT=$RABBITMQ__QUEUE_PORT
RABBITMQ__TELEGRAM_QUEUE=telegram


TELEBOT_TOKEN=$TELEBOT_TOKEN
GRIST__SERVER=$GRIST__SERVER
GRIST__DOC_ID=$GRIST__DOC_ID
GRIST__API_KEY=$GRIST__API_KEY
