DEBUG=True
TESTING=False
VOLUME_MOUNT_PREFIX=/opt/app # Ловкий способ не маунтить в проде каталоги с кодом в контейнер

API_PREFIX=/api/v1
API_HOST=0.0.0.0
API_PORT=8000
API_PROXY=127.0.0.1:8000

API_AUTH_USER=user
API_AUTH_PASSWORD=password

NOTION__TOKEN=
NOTION__WRITE_TOKEN=

POSTGRES__HOST=postgres
POSTGRES__PORT=5432
POSTGRES__USER=agreemod
POSTGRES__PASSWORD=pswd
POSTGRES__NAME=agreemod
POSTGRES__PROXY=127.0.0.1:5432
POSTGRES__MIN_POOL_SIZE=5
POSTGRES__MAX_POOL_SIZE=10

DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_PASSWORD=admin
REFRESH_PERIOD=120


RABBITMQ__DEFAULT_HOST=localhost
RABBITMQ__DEFAULT_USER=guest
RABBITMQ__DEFAULT_PASS=guest
RABBITMQ__WEB_PORT=15672
RABBITMQ__QUEUE_PORT=5672
RABBITMQ__TELEGRAM_QUEUE=telegram

CODA__API_KEY=
CODA__DOC_ID=

TELEBOT_TOKEN=